body{
    font-family: 'Montserrat', sans-serif;
}


#title {
    background-color: #2b7a78;
    /* background-color: #3aafa9; */
    color: #feffff;
}

.container-fluid {
    padding: 3% 8%;
    padding-bottom: 8rem;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
line-height: 1.5;
font-size: 3rem;
/* color: #17252a; */
}

/* navigation bar */
.navbar{
    padding:0 0 4.5rem;

}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
font-size: 2.5rem;
font-weight: bold;

}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size:1.2rem;

}

/* download button */
.download-button{
    margin: 5% 3% 5% 0;
}

/* title image */
.title-image{
    padding-left: 0rem;
    transform: rotate(0deg);
}


/* features section */

#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 2%;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.icon{
    padding-bottom:1rem;
    color: #2b7a78;
}

.icon:hover{
    color: #3aafa9;
}
p{
    color: #8f8f8f;
    /* padding-bottom: 1rem;
    margin-bottom: 0; */
}

/* our instructors */
#instructors{
    /* background-color: #def2f1; */
    background-color: #3aafa9;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.our-ins-head{
    color: #feffff;
}

.ins-box{
    text-align: center;
    padding: 2%;
}


.profile-pic{
    width: 55%;
    border-radius: 100%;
    padding-bottom: 1rem;
}
.profile-pic1{
    width: 13%;
    border-radius: 100%;
    padding-bottom: 1rem;
}

.exp-para{
    color: #feffff;
    padding: 1rem;
}


/* registration */

#registration{
    background-color: #def2f1;
    text-align: center;

}

.reg-btn{
margin-bottom: 1.5rem;
margin-top: 1rem;
}

.reg-para{
    color: #17252a;
    font-size: 1.4rem;
    width: 40%;
    text-align: center;
    margin: auto;
}

.registration-form-body{
    background-color: #def2f1;
}

.zoom-down{
    width: 50%;
    margin: auto;
    padding: 1.5rem;
}

/* .reg-box{
    padding: 2% 7%;
} */
/* SIGNATURE */

#signature {
    background-color: #17252a;
    text-align: center;
    padding: 1rem;
}

.end-page{
    /* color: #feffff; */
}


/* testimonials */

#testimonials{
    text-align: center;
    background-color: #2b7a78;
    /* background-color: #3aafa9; */
    padding: 2% 7%;
}

.test-para{
    width: 80%;
    margin:auto;
    color: #feffff;
    font-size: 2.5rem;

}

.test-img{
    width: 10%;
    padding:1rem;
    border-radius:100%;
}
